
@{
    ViewData["Title"] = "Adventure";
}


<h1>Adventure</h1>

<p>Here we can battle a randomly generated team! You can choose to battle a team of six, or battle one pokemon with your team.</p>
<button><a href="Adventure/TeamBattle">Fight a Team!</a></button>
<button><a href="Adventure/SingleBattle">Fight One Pokemon!</a></button>
<br />
<br />
In the future, I will impliment a main line story progression, but for the time being we will only do random encounters! Woohoo!