@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <h2 class="display-4">Welcome Trainers!</h2>
    <h5>Let's jump in, shall we?</h5>
        <p>
            So friends, recently some of our most famous trainers have banned together to create what's known as "The Monuments."
            What are The Monuments, you ask? Well just as I have described, it's composed of ten of the most well known trainers of our time.
            They have grown tired of dealing with the civilization's shenanegans for so long, and are putting their foot down!
        </p>
        <p>
            "No more! Will we not be swayed by the masses! We are our own people as well, and we deserve to be treated as such!"
            "Until the public can show us that you are responsible for your own actions, we will be waiting. All we are asking if for one trainier to put us in our place!"
        </p>
        <p>
            The Monuments formed, and since then... the world has been in turmoil. Actors, influencers, music legends, so many of the worlds greatest heros look down on us.
            And it is up to you now. 
            <i>
                You have drive, you have power. You are hungry and will devour... 

            </i>
            You are ready!
        </p>
        <p>
            Go ahead and click the button when youre ready to save our modern celebrities!
        </p>
        <button><a href="Party/Index">View Team!</a></button>
        <p> </p>

    <p>If you are unfamiliar with Pokémon,a bit rusty, or just currious to how this game is to be played, click the button below!<p>
        <button><a href="Home/Overview">Information on Gameplay</a></button>
    </main>
</div>
