@{
    ViewData["Title"] = "Overvew!";
}

<div>
    <h5>For anybody who is completly new to Pokémon...</h5>
    <p>
            This game that has been create takes only a portion of the Pokémon Nintendo has created.
        But in essance, you are going to create a randomly generated team of six Pokémon, and use them to battle and defat The Momnuments.
        Every Pokémon has a type, for example Pikachu's type is electric. Charizard's type if Fire/Flying.
        Because every Pokémon in this game have types associated with them, you're goin to need to know which Pokémon has a "Type Advantage"
        Most types are straight forward - water beats fire, fire beats grass, and grass beats water.
        Other types, like steel or dragon, may be a little harder to understand.
        But don't worry! In your party page, you will recieve a Pokémon type-matchup chart.
        This will be essential to reffer to if you want to progress.
    </p>
</div>
<div>
    <h5>For our returning Trainers...</h5>
    <p>
            Happy to have you! This game is massivly tweaked from any/all Pokémon franchise games.
        In short, I have revomed the following: 
        Items, Abilities, Level-Ups, and Evolving Pokémon <i>(although there will still be base evolutions and their evolved forms.)</i> 
        Assuming I continue to work and update this simulaton, I would love to incorperate these mechanics, but at the time of launch they will not be in the game.
        Asside from that, I have tweaked the stats for each Pokémon and made the overall battles a bit more simple. 
    </p>
    <p>
            If you navigate to the "Dex" page, it will show you all the Pokémon that may or may not appear through gameplay.
        I have used the '<i>Pokémon Conquest</i>' dex (yes this is a real Nintendo game, if you are not aware,) and there are exactly 200 diferent Pokémon!
        This will be including only Pokémon from generations 1-4, this means there will be <b>NO FAIRY TYPES</b>.
        Because this game will be randomly generated, there are many different battles and re-rolls, so I hope your enjoy!
    </p>
</div>